@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');


html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Kanit', sans-serif;
}

/***** Marquee *****/

.marqueeContainer {
    display: flex;
    align-items: center;
    background-color: black;    
    overflow: hidden;
    width: 100%;
}

.marquee {
    font-size: 100%;
    line-height: 1.9;
    color: #f2f2f2;
    white-space: nowrap;
    animation: marquee 30s infinite linear;
    width: 100%;
    text-align: right;
}

@keyframes marquee {
    0% {
        transform: translateX(0)  ;
    }

    100% {
        transform: translateX(-100%) ;
    }
}


/***** End Marquee *****/

/***** Responsive Banner *****/

.responsiveBanner {
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    margin: auto;
    display: table;
    top: 0;
}

.bannerInner {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.bannerContent {
    display: grid;
    place-items: center;
}

.bannerContent img {
    max-width: 20%;
    filter: invert(100%);
}

/***** End Responsive Banner *****/

/***** Footer *****/

.footer {
    width: 100%;
    background-color: #393e46;
    color: #f2f2f2;
}

.group-1 {
    width: 100%;
    display: grid;
    place-items: center;
}

.box h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.box {
    text-align: center;
    justify-content: space-between;
}

.social-net a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 40px;
    padding: 10px;
}

.social-net a:hover {
    color: #f96d00;
}


.group-2 {
    padding: 15px 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .social-net a {
        font-size: 25px;
    }
}
/***** End Footer *****/

main h1{
    text-align: center;
    font-size: 150%;
    background-color: #393e46;
    height: 100px;
    margin: 0;
    display: grid;
    place-items: center;
    color: #f2f2f2;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 10px;
}

.main-container .item {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    
}

.main-container .item img {
    width: 100%;
    height: 100%;
    justify-content: center;
}



@media (max-width: 600px) {

    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}