@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');


html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Kanit', sans-serif;
}

/***** Marquee *****/

.marqueeContainer {
    display: flex;
    align-items: center;
    background-color: black;    
    overflow: hidden;
    width: 100%;
}

.marquee {
    font-size: 100%;
    line-height: 1.9;
    color: #f2f2f2;
    white-space: nowrap;
    animation: marquee 30s infinite linear;
    width: 100%;
    text-align: right;
}

@keyframes marquee {
    0% {
        transform: translateX(0)  ;
    }

    100% {
        transform: translateX(-100%) ;
    }
}


/***** End Marquee *****/

/***** Responsive Banner *****/

.responsiveBanner {
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    margin: auto;
    display: table;
    top: 0;
}

.bannerInner {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.bannerContent {
    display: grid;
    place-items: center;
}

.bannerContent img {
    max-width: 20%;
    filter: invert(100%);
}

/***** End Responsive Banner *****/

/***** Footer *****/

.footer {
    width: 100%;
    background-color: #393e46;
    color: #f2f2f2;
}

.group-1 {
    width: 100%;
    display: grid;
    place-items: center;
}

.box h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.box {
    text-align: center;
    justify-content: space-between;
}

.social-net a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 25px;
    padding: 10px;
}

.social-net a:hover {
    color: #f96d00;
}

.group-2 {
    padding: 15px 10px;
    text-align: center;
}

/***** End Footer *****/

/*****  NAVBAR *****/
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background-color: rgba(57, 62, 70, .8);
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #f2f2f2;
}

nav .logo img {
    width: 40px;
    filter: invert(100%);
    margin: 40px;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    color: #f2f2f2;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

nav .links a:visited {
    color: #f2f2f2;
}

#nav-toggle {
    position: absolute;
    top: -100%;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #f2f2f2;
    margin: 5px;
    border-radius: 3px;
}

@media (max-width: 600px){
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
        top: 50px;
        bottom: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        transition: all .5s ease-in-out;
        
    }

    nav .links a {
        font-size: 15px;
    }

    nav .icon-burger {
        display: block;
    }

    nav :checked ~ .links {
        bottom: 0;
    }

    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);

    }

    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

/***** End  NAVBAR *****/

/***** MAIN *****/

.mainTitle {
    text-align: center;
    font-size: 150%;
    background-color: #393e46;
    height: 100px;
    margin: 0;
    display: grid;
    place-items: center;
    color: #f2f2f2;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 10px;
}


.item {
    text-align: center;
    display: grid;
    place-items: center;
    
}

.item-img {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.main-container .item img:hover {
    filter: drop-shadow(4px 6px 10px #393939);
}

/***** End MAIN *****/

/***** MEDIA QUERYS *****/

@media (min-width: 700px) {
    .main-container {

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

    }

    .rtw-container {
        grid-template-columns: auto;
    }
  
    .social-net a {
        font-size: 35px;
        margin: 10px;
        padding: 5px;
    }

    .c1 , .c4 {
        grid-column: 1/4;
        
    }

    .c1 img , .c4 img {
        max-width: 750px;
    }
    .c2, .c5 {
        grid-column: 1/2;
    }
    .c3 , .c6 {
        grid-column: 3/4;
    }

    .c2 img , .c3 img , .c5 img , .c6 img {
        max-width: 500px;
    }
}

/***** End MEDIA QUERYS *****/
